<nav class="nav-menu">
    <a routerLink="/" routerLinkActive="active">
        <div class="menu-icon"></div>
    </a>
    
    <div class="nav-links">
        <a routerLink="/all-meals" routerLinkActive="active"> 
            All Meals
        </a>
        <a routerLink="/buyer-form" routerLinkActive="active"> 
            Buyer Form
        </a> 
        <a routerLink="/meal-form" routerLinkActive="active"> 
            Meal Form
        </a> 
    </div>
</nav>
<router-outlet></router-outlet>
