<div class="container">
  <h1>NeighborFoods</h1>
  <div>

   <p>Are you a </p>
   <ul>
   <li> a busy professional who gets home late from work?</li>
   <li> a new parent?</li>
   <li> busy chaperoning kids to soccer after you get back from work?</li>
   <li> just interested in trying various cuisines, and getting to know your neighbors?</li>
   </ul>

  </div>
  <br><br>
  <div>
    You can now buy lunch or dinner plates from your neighbors and have a home-cooked meal experience every day of your busy week!
  </div>
    <h1>Get Started</h1>
    <ul>
      <li> Check out the meal listings in NeighborFood app</li>
      <li> Check on map the distance to the meal pick up address and add to your cart</li>
      <li> If you want to sell your meal, fill the new meal form with descriptions of your meal</li>
      <li> If you want to buy a delicious meal, fill the buyer form and the meal will be ready for pick up!</li>
    </ul>
</div>
    